body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #242424;
    position: relative;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* HEADER ======================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

header .title {
    font-size: 48px;
    font-weight: 200;
    text-decoration: none;
    color: #242424;
}

header .title h1 {
    margin-top: 10px;
}

header nav a {
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: #242424;
    margin-right: 50px;
}

header nav a:last-child {
    margin-right: 0px;
}

header nav a:hover {
    text-decoration: underline;
}

/* .delete {
    border-radius: 6px;
    background-color: crimson;
    padding: 10px 15px;
    cursor: pointer;
 
} */

.delete img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #e5e5e5;
    padding: 10px 10px;
    border-radius: 50px;
}

.delete img:hover {
    background-color: #DDDDDD;
}

.about-heading {
    text-align: center;
}

.about-text {
    text-align: center;
}

footer {
    /* max-width: 1300px;
    width: 100%;
    margin: 0 auto; */
    position: fixed;
    bottom: 0;
}

.blogs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18%;
    margin: 10px 0px;
    padding: 20px 30px;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    text-decoration: none;
    color: #242424;
    transition: background-color .3s ease-in-out;
}

.single:hover {
    background-color: #d4d4d4;
}

.single .title {
    font-size: 24px;
    font-weight: 700;
}

.single .snippet {
    font-size: 18px;
}

/* CREATE BLOG ================ */

.create-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 70px;
}

.create-blog form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.create-blog form label {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.create-blog form textarea {
    padding: 10px 5px;
    margin-bottom: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}

.create-blog form input {
    padding: 10px 5px;
    margin-bottom: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}

.create-blog form button {
    width: 25%;
    margin: 60px auto 0px;
    border-radius: 6px;
    border: 1px solid #d4d4d4;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
}

.create-blog form button:hover {
    background-color: #DDDDDD;
}

/* DETAILS ============================ */

.details h2 {
    font-size: 34px;
}

.details-title {
    display: flex;
    justify-content: space-between;
}

.details p {
    color: #d4d4d4;
    font-size: 18px;
}

.details .blogs p{
    color: #242424;
    font-size: 20px;
}